* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
}

textarea {
  resize: none;
  border: none;
  padding: 0.2em;
  background-color: #283627;
  color: rgb(235, 12, 12);
  outline: none;
  font-size: 2em;
  text-align: justify;
}

textarea:focus {
  border: 0.5em solid #ec1a2c;
}